{% extends 'base.html.twig' %}

{% block title %}New Fourniseur{% endblock %}

{% block body %}
    <h1>Create new Fourniseur</h1>

    {{ include('fourniseur/_form.html.twig') }}

    <a href="{{ path('fourniseur_index') }}">back to list</a>
{% endblock %}
